body{
	background-color:#000000; 

}
div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	opacity: 0.6;
	position: fixed;
	border:5px solid;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #5c6b70;
	margin-bottom: 10px;
}

body {
height: 100%;
}

body {
background-image: url(bg.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}

ul{
    list-style-type: none;
    margin-left: 50px ;
    height: 50px;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;

}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
	color: #ffffff;

}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;

}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;

}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;


	color: #000000;
}
	img{
    width:200%; /* you can use % */

 
}

li {
	list-style-type: square;

}

a:hover {
	font-weight: bold;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 400px;
	margin-bottom: 10px;

}

.right {
	position: left;
	float: right;
	margin-top: 50px;
	width: 79%;
	height: 400px;
	background-color: #FFFFFF;
	margin-bottom: 10px;

}

#footer {
	position: bottom;
	margin-top: -180px;
	height: 180px;
	background-color: #5c6b70;
	border:5px solid #000000;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;

}
